@import url('https://fonts.googleapis.com/css2?family=Inter&family=Tinos:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset css */
body{
    font-family: 'Inter', sans-serif;
    font-size:13px;
    line-height: 1.8125rem;
    color:#000000;
    background-color: #fffbf4;
}
.btn{
    border-radius: 35px;
    text-decoration: none;
    font-size:18px;
    line-height: 18px;
    letter-spacing: 0.2px;
}
.btn-pri{
    background-color: #4B5D39;
    color:#fffbf4;
}
.btn-lg{
    padding: 12px 30px;
}
.container-fluid{
    width: 100%;
}
.container, .container-1, .container-2{
    width: 1072px;
    margin: 0 auto;
}
.container-lg{
    width:1311px;
    margin: 0 auto;
   
}
.as{
    background-image: url(../img/sincerely-media-Y3Td-v-JRHI-unsplash.jpg);
    background-size:cover ;
   
    width: 100%;
   height: 60vh;
}
h1{
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
h2{
    font-size: 40px;
    font-family: 'Tinos', serif;
    font-weight: 700;
}
h3{
    font-size: 35px;
    font-family: 'Tinos', serif;
    font-weight: 700;
    color:#fffbf4;
}
h4,h5,h6{
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color:#fffbf4;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.row>[class*="col-"]{
    padding: 12px;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.justify-end{
    justify-content: flex-end;
}
.justify-start{
    justify-content: flex-start;
}
.justify-around{
    justify-content:space-around;
}
.align-item-center{
    align-items: center;
}
.align-item-end{
    align-items:flex-end;
}
.align-item-start{
    align-items:flex-start;
}
.align-self-end{
    align-self: flex-end;
}
.align-self-start{
    align-self: flex-start;
}
.align-self-center{
    align-self:center;
}
.w-100{
    width:100%;
}
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.66%;
}
.col-12{
    width: 100%;
}